In [ ]:
import json
import pandas as pd
 
label2id = {
    'NONE': 0,
    'EVIDENCE': 1,
    'CLAIM': 2}
 
def load_corpus(path, label_mapping=None):
    with open(path) as fp:
        corpus = json.load(fp)
 
    documents, texts, labels = [], [], []
    for abstract in corpus:
        documents.append(abstract)
        texts.append(corpus[abstract]['sentences'])
        if isinstance(label_mapping, dict):
            labels.append(
                [label_mapping[str(l).upper()]
                    for l in corpus[abstract]['labels']])
        else:
            labels.append([str(l).upper() for l in corpus[abstract]['labels']])
 
    assert len(texts) == len(labels)
    data = pd.DataFrame(
        zip(documents, texts, labels),
        columns=['document', 'sentences', 'labels'])
 
    return data
 
data = load_corpus('dataset_aueb_argument_v1.json') #, label_mapping=label2id)
print(f'Dataset length: {len(data)} abstracts')
data.sample(20)

Dataset length: 916 abstracts

                                     document  ...                                             labels
121           doi: 10.1007/s13361-019-02261-z  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
19                doi: 10.1002/ange.201700730  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
719            doi: 10.1186/s41747-019-0100-y  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
237          doi: 10.1016/j.redox.2019.101123  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
294           doi: 10.1021/acscentsci.8b00176  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
589                   doi: 10.1111/bcpt.12938  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
197         doi: 10.1016/j.ijplas.2017.07.007  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
158           doi: 10.1016/j.coph.2016.07.003  ...  [NEITHER, NEITHER, NEITHER, EVIDENCE, EVIDENCE...
700            doi: 10.1186/s13073-017-0502-5  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
447           doi: 10.1038/s41598-019-55454-7  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
187  doi: 10.1016/j.freeradbiomed.2019.06.013  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
386           doi: 10.1038/s41467-017-00177-4  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
695            doi: 10.1186/s13024-018-0270-8  ...  [NEITHER, NEITHER, NEITHER, EVIDENCE, EVIDENCE...
443           doi: 10.1038/s41598-018-33949-z  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
804             doi: 10.3389/fphar.2018.01437  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
449           doi: 10.1038/s41598-020-65297-2  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
119            doi: 10.1007/s12471-018-1080-x  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
853                        doi: 10.3791/56889  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
691            doi: 10.1186/s12940-018-0364-3  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...
654              doi: 10.1161/jaha.116.005432  ...  [NEITHER, NEITHER, NEITHER, NEITHER, NEITHER, ...

[20 rows x 3 columns]

In [ ]:
# assign sentence column in an object

sentencesargument = data['sentences'].explode().reset_index().rename(
    columns={'index': 'doc_id', 'sentences': 'sentence'})
sentencesargument

      doc_id                                           sentence
0          0  Concordance Between Different Amyloid Immunoas...
1          0  Importance Visual assessment of amyloid positr...
2          0  Several immunoassays have been developed to me...
3          0  The agreement between CSF Aβ42 measures from d...
4          0  Objective To determine the concordance between...
...      ...                                                ...
9380     915  Instead, SBPs sample a range of conformations ...
9381     915  Certain non-transported ligands leave the stru...
9382     915  Intriguingly, in some cases, similar SBP confo...
9383     915  In this case, the inability for transport aris...
9384     915  Our results reveal the complex interplay betwe...

[9385 rows x 2 columns]

In [ ]:
# assign label column in an object

labelsargument = data['labels'].explode().reset_index().rename(
    columns={'index': 'doc_id', 'labels': 'label'})
labelsargument

      doc_id    label
0          0  NEITHER
1          0  NEITHER
2          0  NEITHER
3          0  NEITHER
4          0  NEITHER
...      ...      ...
9380     915  NEITHER
9381     915  NEITHER
9382     915  NEITHER
9383     915  NEITHER
9384     915    CLAIM

[9385 rows x 2 columns]

In [ ]:
# reverse column order in sentenceargument object
s=sentencesargument['sentence']
s1=sentencesargument['doc_id']
sentencesargnew=pd.concat([s,s1],axis=1)
sentencesargnew

                                               sentence  doc_id
0     Concordance Between Different Amyloid Immunoas...       0
1     Importance Visual assessment of amyloid positr...       0
2     Several immunoassays have been developed to me...       0
3     The agreement between CSF Aβ42 measures from d...       0
4     Objective To determine the concordance between...       0
...                                                 ...     ...
9380  Instead, SBPs sample a range of conformations ...     915
9381  Certain non-transported ligands leave the stru...     915
9382  Intriguingly, in some cases, similar SBP confo...     915
9383  In this case, the inability for transport aris...     915
9384  Our results reveal the complex interplay betwe...     915

[9385 rows x 2 columns]

In [ ]:
# merge sentence argument and label argument in the same df named dataargument
dataargument = pd.merge(sentencesargument, 
               labelsargument, 
               left_index=True, right_index=True)
dataargument
print(dataargument.shape)
dataargument.head(5)

(9385, 4)

   doc_id_x  ...    label
0         0  ...  NEITHER
1         0  ...  NEITHER
2         0  ...  NEITHER
3         0  ...  NEITHER
4         0  ...  NEITHER

[5 rows x 4 columns]

In [ ]:
# group by argument label
dataargument.groupby(by=["label"], dropna=False).count()

          doc_id_x  sentence  doc_id_y
label
CLAIM          954       954       954
EVIDENCE      1578      1578      1578
NEITHER       6853      6853      6853

In [ ]:
# from dataargument dataframe keep the rows that habel argument label "claim" and name the df claim
claim = dataargument.loc[(dataargument['label'] == 'CLAIM')]

claim

      doc_id_x  ...  label
15           0  ...  CLAIM
16           0  ...  CLAIM
30           1  ...  CLAIM
31           1  ...  CLAIM
32           1  ...  CLAIM
...        ...  ...    ...
9306       907  ...  CLAIM
9341       910  ...  CLAIM
9366       913  ...  CLAIM
9374       914  ...  CLAIM
9384       915  ...  CLAIM

[954 rows x 4 columns]

In [ ]:
# assign column sentence from claim and convert it to dataframe named "c"

claim_s=claim['sentence']
c=pd.DataFrame(data=claim_s)
c

                                               sentence
15    Conclusions and Relevance Concentrations of CS...
16    These findings suggest the benefit of implemen...
30    The increases in both neurofilament light and ...
31    Further investigations will be required to stu...
32    These preliminary findings demand that we ques...
...                                                 ...
9306  Drought hazard probability maps can contribute...
9341  The methodology proposed in this analysis prov...
9366  Our preliminary results on coarse lattices sho...
9374  These findings have wide implications, ranging...
9384  Our results reveal the complex interplay betwe...

[954 rows x 1 columns]

In [ ]:
# split dataframe "c" 
c["sentence"]= c["sentence"].str.split(" ")
c

                                               sentence
15    [Conclusions, and, Relevance, Concentrations, ...
16    [These, findings, suggest, the, benefit, of, i...
30    [The, increases, in, both, neurofilament, ligh...
31    [Further, investigations, will, be, required, ...
32    [These, preliminary, findings, demand, that, w...
...                                                 ...
9306  [Drought, hazard, probability, maps, can, cont...
9341  [The, methodology, proposed, in, this, analysi...
9366  [Our, preliminary, results, on, coarse, lattic...
9374  [These, findings, have, wide, implications,, r...
9384  [Our, results, reveal, the, complex, interplay...

[954 rows x 1 columns]

In [ ]:
# from dataframe "c" create index and put each word in a different raw with explode, assign the result in dataframe claim_words
# in order to detect keywords that reveal claim label
claim_words = c['sentence'].explode().reset_index().rename(
    columns={'index': 'doc_id', 'sentence': 'claim_words'})
claim_words

       doc_id     claim_words
0          15     Conclusions
1          15             and
2          15       Relevance
3          15  Concentrations
4          15              of
...       ...             ...
24639    9384  conformational
24640    9384        dynamics
24641    9384             and
24642    9384       substrate
24643    9384      transport.

[24644 rows x 2 columns]

In [ ]:
claim_words['claim_words']=claim_words['claim_words'].str.lower()
claim_words

       doc_id     claim_words
0          15     conclusions
1          15             and
2          15       relevance
3          15  concentrations
4          15              of
...       ...             ...
24639    9384  conformational
24640    9384        dynamics
24641    9384             and
24642    9384       substrate
24643    9384      transport.

[24644 rows x 2 columns]

In [ ]:
b = "!,().-[]:"
for char in b:
    claim_words['claim_words'] = claim_words['claim_words'].str.replace(char, "")

In [ ]:
# count how many times each word appears in data frame claim_words
claim_words['count'] = claim_words.groupby('claim_words')['claim_words'].transform('count')
claim_words

       doc_id     claim_words  count
0          15     conclusions     54
1          15             and    822
2          15       relevance      9
3          15  concentrations      9
4          15              of   1037
...       ...             ...    ...
24639    9384  conformational      2
24640    9384        dynamics     14
24641    9384             and    822
24642    9384       substrate      4
24643    9384       transport      7

[24644 rows x 3 columns]

In [ ]:
# keep unique values and name the new data frame argunique

argunique=claim_words.drop_duplicates(subset='claim_words')
argunique

       doc_id     claim_words  count
0          15     conclusions     54
1          15             and    822
2          15       relevance      9
3          15  concentrations      9
4          15              of   1037
...       ...             ...    ...
24613    9366  thermalization      1
24619    9374         ranging      1
24627    9374           notch      1
24636    9384       ligandsbp      1
24638    9384             sbp      1

[5562 rows x 3 columns]

In [ ]:
#sort argunique in descending order to the column count and name the new data frame arg1

arg1=argunique.sort_values(by='count', ascending=False, na_position='first')
arg1

       doc_id claim_words  count
9          15         the   1319
4          15          of   1037
1          15         and    822
65         16          in    683
104        31          to    548
...       ...         ...    ...
2439      960         340      1
10936    3788          ph      1
10940    3788  saturation      1
10943    3788    biogenic      1
24638    9384         sbp      1

[5562 rows x 3 columns]

In [ ]:
#keep only words appeared more than once
argtry=arg1[arg1['count']>2]
argtry

       doc_id      claim_words  count
9          15              the   1319
4          15               of   1037
1          15              and    822
65         16               in    683
104        31               to    548
...       ...              ...    ...
2616     1023         advanced      3
2677     1034    perturbations      3
14973    5217         adaptive      3
1319      480  epidemiological      3
2820     1087       simulation      3

[1542 rows x 3 columns]

In [ ]:
import re
conclu = argtry[argtry['claim_words'].str.contains(r'^conclu', flags=re.IGNORECASE)]
conclu

      doc_id                 claim_words  count
0         15                 conclusions     54
261       93                  conclusion     49
2964    1125                    conclude     16
1649     682  conclusions/interpretation      3

In [ ]:
resul = argtry[argtry['claim_words'].str.contains(r'^resul', flags=re.IGNORECASE)]
resul

      doc_id claim_words  count
516      173     results     93
1545     640      result     12
4151    1559   resulting      9

In [ ]:
argtry.head(50)

      doc_id  claim_words  count
9         15          the   1319
4         15           of   1037
1         15          and    822
65        16           in    683
104       31           to    548
60        16            a    413
84        30         that    323
236       68          for    308
21        15         with    259
268       93           is    238
90        30           be    203
137       38         this    173
116       32           we    167
200       56           by    166
59        16           as    148
125       32          are    143
562      180          our    118
584      180           on    117
46        16        these    110
180       49           an    103
320      104          can    102
8         15         from     97
516      173      results     93
18        15          may     82
183       49           at     76
364      113        which     74
43        15           or     63
269       93          not     61
1265     463         data     61
195       56      climate     59
173       49      between     59
105       31        study     55
259       80        model     54
0         15  conclusions     54
131       32      changes     50
261       93   conclusion     49
365      113         have     48
91        30   associated     48
66        16     clinical     47
741      249        could     46
196       56       models     44
31        15         show     44
368      113         used     43
565      180           it     43
1147     436          but     43
2016     829       future     41
10        15          new     41
270       93         more     41
426      142     analysis     41
486      163    potential     40

In [ ]:
listofwords=argtry['claim_words'][0:100].tolist()
listofwords

['the',
 'of',
 'and',
 'in',
 'to',
 'a',
 'that',
 'for',
 'with',
 'is',
 'be',
 'this',
 'we',
 'by',
 'as',
 'are',
 'our',
 'on',
 'these',
 'an',
 'can',
 'from',
 'results',
 'may',
 'at',
 'which',
 'or',
 'not',
 'data',
 'climate',
 'between',
 'study',
 'model',
 'conclusions',
 'changes',
 'conclusion',
 'have',
 'associated',
 'clinical',
 'could',
 'models',
 'show',
 'used',
 'it',
 'but',
 'future',
 'new',
 'more',
 'analysis',
 'potential',
 'studies',
 'suggest',
 'findings',
 'risk',
 'such',
 'both',
 'using',
 'high',
 'global',
 'patients',
 'different',
 'will',
 'change',
 'into',
 'understanding',
 'disease',
 'other',
 'zikv',
 'increase',
 'human',
 'approach',
 'role',
 'further',
 'important',
 'variability',
 'provide',
 'their',
 'higher',
 'were',
 'genetic',
 'when',
 'has',
 'also',
 'should',
 'however',
 'csf',
 'during',
 'treatment',
 'than',
 'over',
 'increased',
 'its',
 'response',
 'current',
 'how',
 'well',
 'demonstrate',
 'use',
 'possible',
 'was']

In [ ]:
cleanlist= ['the','of','and','in','to','a','that','for','with','is','be','this','we','by','as','are','our','on','these','an','can','from',
            'may','at','which','or','not', 'have','it','but','will','other','their','were','than','over','its','was','such','both','when',
            'has','also','how','well','while']

In [ ]:
argtry = argtry[~argtry['claim_words'].isin(cleanlist)]
argtry

       doc_id      claim_words  count
516       173          results     93
1265      463             data     61
195        56          climate     59
173        49          between     59
105        31            study     55
...       ...              ...    ...
2616     1023         advanced      3
2677     1034    perturbations      3
14973    5217         adaptive      3
1319      480  epidemiological      3
2820     1087       simulation      3

[1496 rows x 3 columns]

In [ ]:
test1=argtry[argtry['count']>30]
test1

      doc_id    claim_words  count
516      173        results     93
1265     463           data     61
195       56        climate     59
173       49        between     59
105       31          study     55
259       80          model     54
0         15    conclusions     54
131       32        changes     50
261       93     conclusion     49
91        30     associated     48
66        16       clinical     47
741      249          could     46
196       56         models     44
31        15           show     44
368      113           used     43
2016     829         future     41
10        15            new     41
270       93           more     41
426      142       analysis     41
486      163      potential     40
846      268        studies     40
48        16        suggest     40
47        16       findings     40
1155     436           risk     39
40        15          using     37
328      110           high     37
1948     815         global     36
1115     423       patients     36
4484    1641      different     35
1097     385         change     35
314      104           into     35
3444    1315  understanding     34
296       94        disease     34
2992    1139           zikv     32
1956     815       increase     32
523      173          human     31
729      249       approach     31
182       49           role     31
99        31        further     31

In [ ]:
arg=test1['claim_words'].tolist()
arg

['results',
 'data',
 'climate',
 'between',
 'study',
 'model',
 'conclusions',
 'changes',
 'conclusion',
 'associated',
 'clinical',
 'could',
 'models',
 'show',
 'used',
 'future',
 'new',
 'more',
 'analysis',
 'potential',
 'studies',
 'suggest',
 'findings',
 'risk',
 'using',
 'high',
 'global',
 'patients',
 'different',
 'change',
 'into',
 'understanding',
 'disease',
 'zikv',
 'increase',
 'human',
 'approach',
 'role',
 'further']

In [ ]:
arg=['results','data','climate','study',
 'model',
 'conclusions',
 'changes',
 'conclusion',
 'associated',
 'clinical',
 'models',
 'show',
 'future',
 'analysis',
 'potential',
 'studies',
 'suggest',
 'findings',
 'risk',
 'using',
 'high',
 'global',
 'patients',
 'different',
 'change',
 'into',
 'understanding',
 'disease','results','result','resulting','conclusions','conclusion','conclude','conclusions/interpretation']

In [ ]:
# we assign column sentence in a new object called test1
test1 = dataargument['sentence']

In [ ]:
#we transfrom test1 in df with library pandas and assigned in a new variable named t and after in new variable named test2. 
t=pd.DataFrame(test1)
test2=t
# we create a new column in test2 named label and write the value none 
test2['LABEL']='NONE'
test2

                                               sentence LABEL
0     Concordance Between Different Amyloid Immunoas...  NONE
1     Importance Visual assessment of amyloid positr...  NONE
2     Several immunoassays have been developed to me...  NONE
3     The agreement between CSF Aβ42 measures from d...  NONE
4     Objective To determine the concordance between...  NONE
...                                                 ...   ...
9380  Instead, SBPs sample a range of conformations ...  NONE
9381  Certain non-transported ligands leave the stru...  NONE
9382  Intriguingly, in some cases, similar SBP confo...  NONE
9383  In this case, the inability for transport aris...  NONE
9384  Our results reveal the complex interplay betwe...  NONE

[9385 rows x 2 columns]

In [ ]:
#preparation  claim dataframe
claim_df=test2
claim_df

                                               sentence LABEL
0     Concordance Between Different Amyloid Immunoas...  NONE
1     Importance Visual assessment of amyloid positr...  NONE
2     Several immunoassays have been developed to me...  NONE
3     The agreement between CSF Aβ42 measures from d...  NONE
4     Objective To determine the concordance between...  NONE
...                                                 ...   ...
9380  Instead, SBPs sample a range of conformations ...  NONE
9381  Certain non-transported ligands leave the stru...  NONE
9382  Intriguingly, in some cases, similar SBP confo...  NONE
9383  In this case, the inability for transport aris...  NONE
9384  Our results reveal the complex interplay betwe...  NONE

[9385 rows x 2 columns]

In [ ]:
for ind in claim_df.index:
  splits = str.split(test1[ind])
  for split in splits:
      if split in arg:    
        claim_df['LABEL'][ind] = 'claim'

In [ ]:
# we count how many claim label our for loop found
claim_df['LABEL'].value_counts()

NONE     5388
claim    3997
Name: LABEL, dtype: int64

In [ ]:
# Keep rows with claim label and assing it to a new variable named CLAIM
CLAIM = dataargument.loc[(dataargument['label'] == 'CLAIM')]
CLAIM

      doc_id_x  ...  label
15           0  ...  CLAIM
16           0  ...  CLAIM
30           1  ...  CLAIM
31           1  ...  CLAIM
32           1  ...  CLAIM
...        ...  ...    ...
9306       907  ...  CLAIM
9341       910  ...  CLAIM
9366       913  ...  CLAIM
9374       914  ...  CLAIM
9384       915  ...  CLAIM

[954 rows x 4 columns]

In [ ]:
# MERGE test2 and CLAIM in order to compare and create the ground rule 
cross = pd.merge(test2, 
                CLAIM, 
                left_index=True, right_index=True)


print(cross.shape)
cross.head(50)

(954, 6)

                                            sentence_x  LABEL  ...  doc_id_y  label
15   Conclusions and Relevance Concentrations of CS...  claim  ...         0  CLAIM
16   These findings suggest the benefit of implemen...  claim  ...         0  CLAIM
30   The increases in both neurofilament light and ...  claim  ...         1  CLAIM
31   Further investigations will be required to stu...  claim  ...         1  CLAIM
32   These preliminary findings demand that we ques...  claim  ...         1  CLAIM
38   This work suggests that faults must be critica...   NONE  ...         2  CLAIM
49   The partitioning of τtot between the two schem...   NONE  ...         3  CLAIM
56   This suggests that typical circulation biases ...  claim  ...         4  CLAIM
68   The observed reduction in Vp during the earthq...   NONE  ...         5  CLAIM
80   Observations of air mass transformations inclu...  claim  ...         6  CLAIM
93   Conclusion In current rheumatology practice, A...   NONE  ...         7  CLAIM
94   This implies that efforts to further improve t...  claim  ...         7  CLAIM
104  The self-assembly of an amphiphilic monomolecu...  claim  ...         9  CLAIM
110  High fatigue resistance, bistability, and dras...  claim  ...        11  CLAIM
113  Solution-processed hybrid organohalide perovsk...   NONE  ...        12  CLAIM
129  Among metal halide perovskites, the double-per...  claim  ...        14  CLAIM
142  The analysis indicates that the pathology desc...  claim  ...        15  CLAIM
163  Finally, the polyoxometalate material from the...  claim  ...        18  CLAIM
173  Its synthesis and crystallization was probed u...  claim  ...        20  CLAIM
179  In comparison with the parent diarylethene (wi...   NONE  ...        21  CLAIM
180  Our design makes it possible to switch diaryle...   NONE  ...        21  CLAIM
188  Furthermore, the transformation of template cl...   NONE  ...        22  CLAIM
194  Thus we show a route by which simple hybrid in...  claim  ...        23  CLAIM
208  This shows that isotopic exchange (the additio...   NONE  ...        25  CLAIM
217  Herein we describe the molecular growth from {...   NONE  ...        27  CLAIM
240  In this Minireview, the concept of chromophore...   NONE  ...        30  CLAIM
249  This illustrates the power of the iCHELL appro...   NONE  ...        32  CLAIM
255  We show that RNA signals transcribed from tran...  claim  ...        33  CLAIM
258  Combining communicating gel spheres with speci...   NONE  ...        33  CLAIM
263  We show that by using l‐ornithine as a structu...  claim  ...        34  CLAIM
265  This provides insight into how gigantic Mo Blu...  claim  ...        34  CLAIM
268  Ru(bpz)3(PF6)2 was utilized as the ruthenium c...  claim  ...        35  CLAIM
272  Control experiments using Ir(ppy)3 showed no c...  claim  ...        35  CLAIM
277  Now, two distinct reduction potentials are rev...   NONE  ...        36  CLAIM
287  The electronic modulation can be utilized to r...   NONE  ...        38  CLAIM
291  Whereas substitution in the periphery of the D...   NONE  ...        38  CLAIM
303  Interestingly, the formation of π-π sandwich c...   NONE  ...        40  CLAIM
304  The unique supramolecular interaction between ...   NONE  ...        40  CLAIM
325  Conversely, we show that our new transmurally ...  claim  ...        43  CLAIM
340  Finally, we show that our idealized computatio...  claim  ...        45  CLAIM
351  However, their application in optoelectronics ...   NONE  ...        47  CLAIM
385  Our results demonstrate the variable physiolog...  claim  ...        50  CLAIM
423  Conclusion: p-TIPS must be the treatment of ch...  claim  ...        53  CLAIM
424  Because of the strong benefit in preventing fu...   NONE  ...        53  CLAIM
436  Conclusion: Steatosis is associated with carot...  claim  ...        54  CLAIM
437  The multiple-site involvement and quantitative...   NONE  ...        54  CLAIM
442  Performance of qFIBS was best when assessing d...   NONE  ...        55  CLAIM
454  Conclusion: We show for the first time that AD...  claim  ...        56  CLAIM
463  Our results demonstrate that BRCA patients wit...  claim  ...        57  CLAIM
469  Our results correlate well with site directed ...  claim  ...        58  CLAIM

[50 rows x 6 columns]

In [ ]:
cross.head(30)
cross.shape

(954, 6)

In [ ]:
cross=pd.DataFrame(cross)
cross

                                             sentence_x  LABEL  ...  doc_id_y  label
15    Conclusions and Relevance Concentrations of CS...  claim  ...         0  CLAIM
16    These findings suggest the benefit of implemen...  claim  ...         0  CLAIM
30    The increases in both neurofilament light and ...  claim  ...         1  CLAIM
31    Further investigations will be required to stu...  claim  ...         1  CLAIM
32    These preliminary findings demand that we ques...  claim  ...         1  CLAIM
...                                                 ...    ...  ...       ...    ...
9306  Drought hazard probability maps can contribute...  claim  ...       907  CLAIM
9341  The methodology proposed in this analysis prov...  claim  ...       910  CLAIM
9366  Our preliminary results on coarse lattices sho...  claim  ...       913  CLAIM
9374  These findings have wide implications, ranging...  claim  ...       914  CLAIM
9384  Our results reveal the complex interplay betwe...  claim  ...       915  CLAIM

[954 rows x 6 columns]

In [ ]:
# what we found with for loop
cross['LABEL'].value_counts()

claim    595
NONE     359
Name: LABEL, dtype: int64

In [ ]:
# what professor found
cross['label'].value_counts()

CLAIM    954
Name: label, dtype: int64

In [ ]:
# another method to detect claim label

## LAST SENTENCES CLAIM
datatest=dataargument
datatest=datatest.drop_duplicates(subset='doc_id_y',keep='last')
datatest

      doc_id_x  ...    label
16           0  ...    CLAIM
32           1  ...    CLAIM
38           2  ...    CLAIM
49           3  ...    CLAIM
56           4  ...    CLAIM
...        ...  ...      ...
9351       911  ...  NEITHER
9360       912  ...  NEITHER
9366       913  ...    CLAIM
9374       914  ...    CLAIM
9384       915  ...    CLAIM

[916 rows x 4 columns]

In [ ]:
datatest.groupby(by=["label"], dropna=False).count()
##when trying to run, see how well it performs

          doc_id_x  sentence  doc_id_y
label
CLAIM          473       473       473
EVIDENCE        50        50        50
NEITHER        393       393       393

In [ ]:
crossb = pd.merge(datatest, 
                CLAIM, 
                left_index=True, right_index=True)


print(crossb.shape)
crossb.head(50)

(473, 8)

      doc_id_x_x  ... label_y
16             0  ...   CLAIM
32             1  ...   CLAIM
38             2  ...   CLAIM
49             3  ...   CLAIM
56             4  ...   CLAIM
68             5  ...   CLAIM
94             7  ...   CLAIM
110           11  ...   CLAIM
163           18  ...   CLAIM
188           22  ...   CLAIM
194           23  ...   CLAIM
208           25  ...   CLAIM
240           30  ...   CLAIM
249           32  ...   CLAIM
258           33  ...   CLAIM
265           34  ...   CLAIM
272           35  ...   CLAIM
325           43  ...   CLAIM
340           45  ...   CLAIM
385           50  ...   CLAIM
437           54  ...   CLAIM
442           55  ...   CLAIM
463           57  ...   CLAIM
480           59  ...   CLAIM
538           64  ...   CLAIM
583           68  ...   CLAIM
593           69  ...   CLAIM
640           75  ...   CLAIM
674           78  ...   CLAIM
740           84  ...   CLAIM
754           85  ...   CLAIM
811           89  ...   CLAIM
859           94  ...   CLAIM
879           96  ...   CLAIM
916           99  ...   CLAIM
940          101  ...   CLAIM
960          103  ...   CLAIM
981          105  ...   CLAIM
989          106  ...   CLAIM
1005         108  ...   CLAIM
1013         109  ...   CLAIM
1023         110  ...   CLAIM
1032         111  ...   CLAIM
1062         114  ...   CLAIM
1074         115  ...   CLAIM
1088         116  ...   CLAIM
1093         117  ...   CLAIM
1125         120  ...   CLAIM
1212         130  ...   CLAIM
1226         131  ...   CLAIM

[50 rows x 8 columns]

In [ ]:
crossb=pd.DataFrame(crossb)
crossb

      doc_id_x_x  ... label_y
16             0  ...   CLAIM
32             1  ...   CLAIM
38             2  ...   CLAIM
49             3  ...   CLAIM
56             4  ...   CLAIM
...          ...  ...     ...
9306         907  ...   CLAIM
9341         910  ...   CLAIM
9366         913  ...   CLAIM
9374         914  ...   CLAIM
9384         915  ...   CLAIM

[473 rows x 8 columns]

In [ ]:
# another method--count claim labels
crossb['label_x'].value_counts()

CLAIM    473
Name: label_x, dtype: int64

In [ ]:
datatest['label'].value_counts()

CLAIM       473
NEITHER     393
EVIDENCE     50
Name: label, dtype: int64

In [ ]:
# how many claim labels professor found
CLAIM

      doc_id_x  ...  label
15           0  ...  CLAIM
16           0  ...  CLAIM
30           1  ...  CLAIM
31           1  ...  CLAIM
32           1  ...  CLAIM
...        ...  ...    ...
9306       907  ...  CLAIM
9341       910  ...  CLAIM
9366       913  ...  CLAIM
9374       914  ...  CLAIM
9384       915  ...  CLAIM

[954 rows x 4 columns]